{% extends 'base.html' %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Tasks for {{ user.username }}</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_task') }}" class="btn-large light-blue darken_2">
            Add Task
        </a>
    </div>
</div>
<div class="row">
    <ul class="collapsible">
        {% for task in tasks|sort(attribute="due_date") %}
        <li>
            <div class="collapsible-header white-text light-blue"><strong>
                {{ task.task_name }}
                {% if task.is_urgent %}
                <em> - URGENT!</em>
                {% endif %}
            </strong> - {{ task.due_date.strftime("%d %B, %Y") }}</div>
            <div class="collapsible-body">
                <strong>{{ task.category }}</strong>
                <p>{{ task.task_description }}</p>
                <p class="buttons">
                    <a href="{{ url_for('edit_task', task_id=task.id) }}" class="btn green">Update</a>
                    <a href="#delete-{{ task.id }}" class="btn red modal-trigger">Delete</a>
                </p>
            </div>
        </li>
        <div id="delete-{{ task.id }}" class="modal">
            <div class="modal-content">
                <h4>Are you sure?</h4>
                <p>This action will permanently delete the category {{ task.task_name }}!</p>
            </div>
            <div class="modal-footer">
                <a href="" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                <a href="{{ url_for('delete_task', task_id=task.id) }}" class="btn red">Delete</a>
            </div>
        </div>
        {% endfor %}
    </ul>
</div>

{% endblock %}